@tailwind base;
@tailwind components;
@tailwind utilities;

.canvas {
    position: absolute !important;
}

@font-face {
    font-family: "NordicaBlack";
    src: url("../fonts/NordicaBlack.otf");
}

@font-face {
    font-family: "NordicaHairline";
    src: url("../fonts/NoridcaHarline.otf");
}

@font-face {
    font-family: "NordicaRegular";
    src: url("../fonts/NordicaRegular.otf");
}

@font-face {
    font-family: "NordicaThin";
    src: url("../fonts/NordicaThin.otf");
}

@font-face {
    font-family: "RunyTunes";
    src: url("../fonts/RunyTunes.otf");
}

h2 {
    font-family: "NordicaRegular";
    font-size: 40px;
}
h3 {
    font-family: "NordicaRegular";
    font-size: 30px;
}
h4 {
  font-family: 'NordicaThin';
  font-size: 26px;
}
p {
    font-size: 24px;
    font-family: "NordicaThin";
}

.custom-hero-height{
  height: 80vh;
  max-height: 70vw;
  min-height: 60vh;
}

@keyframes reduceLetterSpacing {
  0% {
    display: block;
    opacity: 0;
    transform: scale(0.8);
  }

  50% {
    display: block;
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.content-div{
  position: relative;
  transform: translate(0, -200px);
}

.title-text { 
  animation: 12s ease-out 0s 1 reduceLetterSpacing forwards;
  padding: 0 0 100px 0;
}

.slide-container{
    overflow: hidden;
    width: 400vw;
}

.hero-bg{
  position: absolute;
  background-image: contain;
  filter: blur(6px) brightness(0.9) saturate(1.3);
  min-width: 1920px;
  width: 100vw;
  min-height: 56vw;
  scale:1.2;
  flex:1;
  overflow: hidden;
}

.left-fade{
  z-index:1;
  background: linear-gradient(90deg, white 0%, rgba(0,212,255,0) 100%);
}

.right-fade{
  background: linear-gradient(-90deg, white 0%, rgba(0,212,255,0) 100%);
}

/* #141308  */

@media (max-width: 800px) {
  h4 {
    font-family: 'NordicaThin';
    font-size: 20px;
  }
  p {
      font-size: 14px;
      font-family: "NordicaThin";
  }

  .custom-dev-width{
      flex: 0 0 100%;
  }
}