@tailwind base;
@tailwind components;
@tailwind utilities;

.canvas {
    position: absolute !important;
}

@font-face {
    font-family: "NordicaBlack";
    src: url("../fonts/NordicaBlack.otf");
}

@font-face {
    font-family: "NordicaHairline";
    src: url("../fonts/NoridcaHarline.otf");
}

@font-face {
    font-family: "NordicaRegular";
    src: url("../fonts/NordicaRegular.otf");
}

@font-face {
    font-family: "NordicaThin";
    src: url("../fonts/NordicaThin.otf");
}

@font-face {
    font-family: "RunyTunes";
    src: url("../fonts/RunyTunes.otf");
}

h2 {
    font-family: "NordicaRegular";
    font-size: 40px;
}
h3 {
    font-family: "NordicaRegular";
    font-size: 30px;
}
h4 {
  font-family: 'NordicaThin';
  font-size: 26px;
}
p {
    font-size: 24px;
    font-family: "NordicaThin";
}

@keyframes reduceLetterSpacing {
    0% {
      letter-spacing: 2vw;
      opacity: 0;
    }

    50% {
        opacity: 1;
    }
    100% {
        letter-spacing: 0rem;
    }
  }
  
  .title-text {  
    animation: 5s ease-out 0s 1 reduceLetterSpacing;
  }

  .custom-hero-height{
    height: 100vh;
    max-height: 70vw;
  }

  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
      opacity: 0;
    }
    2% {
        opacity: 1;
    }
    98% {
        opacity: 1;
    }
    100% {
        opacity: 0;
      transform: translate3d(-145.5vw, 0, 0); /* The image width */
    }
  }


.slide-container{
    overflow: hidden;
    width: 400vw;
}

.sliding-bg{
    width: 400vw;
    /* background: web("https://i.imgur.com/2XRZVuZ.png") repeat-x; */
    animation: slide 60s linear infinite;
  }

  .left-fade{
    z-index:1;
    background: linear-gradient(90deg, white 0%, rgba(0,212,255,0) 100%);
  }

  .right-fade{
    background: linear-gradient(-90deg, white 0%, rgba(0,212,255,0) 100%);
  }

  /* #141308  */

  @media (max-width: 800px) {
    h4 {
      font-family: 'NordicaThin';
      font-size: 20px;
    }
    p {
        font-size: 14px;
        font-family: "NordicaThin";
    }

    .custom-dev-width{
        flex: 0 0 100%;
    }
  }